# Prerequisites
*.d
*~
data
myteams_cli
myteams_server
push_code
.vscode
.idea
*.dat
unit_tests
vgcore*

# Object files
*.o
*.ko
*.obj
*.elf
*.gcno
*.gcda

# Linker output
*.ilk
*.map
*.city
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
test_ftp.sh
